body {
  background-color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(50, 55, 60);
}

.arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  z-index: 36;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
  font-family: Arial;
  font-size: 1.875em;
  color: rgb(20, 115, 165);
  -webkit-transition: ease .3s;
}

.ble-button {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-bottom-width: 2px;
  border-bottom-color: rgb(50, 55, 60);
  border-bottom-style: solid;
  background-color: rgb(255, 255, 255);
  font-size: 1.25em;
  text-align: left;
  color: rgb(50, 55, 60);
}

.button {
  display: block;
}

.credit {
  float: left;
  font-size: 1em;
}

.credits {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  z-index: 14;
  width: 425px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
  overflow: hidden;
}

.divider {
  float: left;
  width: 50%;
  height: 5px;
}

.help-container {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 43;
  width: 100%;
  height: 730px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.66);
  -webkit-transition: all .3s;
}

.help-dialog {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 42;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 60px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(255, 255, 255);
}

.help-dialog .button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 41;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 1em;
  font-weight: 700;
  color: rgb(20, 115, 165);
}

.help-dialog .text {
  float: left;
  width: 100%;
  color: rgb(0, 0, 0);
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

.main {
  position: absolute;
  top: 0;
  width: 100%;
  height: 730px;
  -webkit-transition: ease .3s;
}

.main-container {
  position: relative;
  float: left;
  z-index: 27;
  width: 100%;
  height: 730px;
  background-image: -webkit-linear-gradient(105deg, rgb(46, 52, 57) 0%, rgb(50, 55, 60) 100%);
  background-color: rgb(46, 52, 57);
}

.main-element {
  float: left;
  width: 100%;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.main-element .image {
  width: 220px;
  margin-right: auto;
  margin-left: auto;
}

.main-element .text {
  margin-right: auto;
  margin-left: auto;
  font-size: 2em;
  font-weight: 100;
  text-align: center;
  color: rgb(255, 255, 255);
}

.nav-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 48;
  width: 100%;
  height: 70px;
  background-image: -webkit-linear-gradient(270deg, rgb(9, 58, 138) 0%, #41c4c6 100%);
  background-size: 100% 200%;
  background-color: #093a8a;
  overflow: hidden;
  -webkit-transition: ease .3s;
}

.nav-header .button {
  color: rgb(255, 255, 255);
}

.overlay-button {
  display: block;
  position: relative;
  width: 70%;
  height: 70px;
  margin-right: auto;
  margin-left: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
}

.overlay-container {
  position: absolute;
  bottom: -600px;
  left: 0;
  right: 0;
  z-index: 38;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: ease .3s;
}

.overlay-list {
  width: 90%;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
  overflow: auto;
}

.radar-circle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 18;
  width: 100px;
  height: 100px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-bottom-left-radius: 1000px;
  background-color: rgb(9, 58, 138);
  box-shadow: 0 0 25px rgb(65, 196, 198) inset;
}

.radar-ping {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 17;
  width: 300px;
  height: 300px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-top-color: rgb(65, 196, 198);
  border-right-color: rgb(65, 196, 198);
  border-bottom-color: rgb(65, 196, 198);
  border-left-color: rgb(65, 196, 198);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-bottom-left-radius: 1000px;
  box-shadow: 0 0 20px rgb(65, 196, 198);
}

.screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 58;
  width: 450px;
  height: 800px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  padding-top: 70px;
  background-image: -webkit-linear-gradient(105deg, rgb(46, 52, 57) 0%, #32373c 100%);
  background-color: #2e3439;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .5);
  overflow: hidden;
}

.selected-device {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  z-index: 35;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.875em;
  color: rgb(20, 115, 165);
}

.settings-container {
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 57;
  width: 100%;
  height: 800px;
  padding-top: 70px;
  background-color: rgb(255, 255, 255);
  overflow: auto;
  -webkit-transition: ease .3s;
}

.settings-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 56;
  width: 100%;
  height: 70px;
  border-bottom-width: 3px;
  border-bottom-color: rgb(50, 55, 60);
  border-bottom-style: solid;
  background-color: #ffffff;
}

.settings-header .button {
  float: left;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 3.125em;
  line-height: 1;
  color: rgb(50, 55, 60);
}

.status {
  float: left;
  clear: both;
  width: 100%;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-size: 1em;
  text-align: center;
  color: rgb(50, 55, 60);
}

.switch {
  display: block;
  position: relative;
  float: left;
  width: 50%;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 60px;
  background-color: rgb(46, 52, 57);
  -webkit-transition: ease .3s;
}

.switch .image {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 50px;
}

.switch .text {
  float: left;
  width: 100%;
  padding-top: 13px;
  padding-right: 6px;
  padding-bottom: 13px;
  padding-left: 6px;
  font-size: 1.125em;
  font-weight: 100;
  text-align: center;
  color: rgb(255, 255, 255);
}

.switch-container {
  position: absolute;
  top: -63px;
  left: 0;
  z-index: 26;
  width: 100%;
  height: 63px;
  border-bottom-width: 3px;
  border-bottom-color: rgb(20, 115, 165);
  border-bottom-style: solid;
  background-color: rgb(46, 52, 57);
  -webkit-transition: ease .3s;
}

.wrapper {
  position: relative;
  float: left;
  z-index: 10;
  width: 100%;
  height: 730px;
  overflow: hidden;
}

._button {
  display: block;
  float: left;
  width: 100%;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-bottom-width: 2px;
  border-bottom-color: rgb(50, 55, 60);
  border-bottom-style: solid;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgb(255, 255, 255);
  font-size: 1.25em;
  text-align: left;
  color: rgb(50, 55, 60);
}

.nav-header ._text {
  float: left;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 1.875em;
  line-height: 1;
  color: rgb(255, 255, 255);
}

.overlay-list ._text {
  float: left;
  width: 100%;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  border-bottom-width: 2px;
  border-bottom-color: rgb(50, 55, 60);
  border-bottom-style: solid;
  font-size: 1em;
  color: rgb(50, 55, 60);
}

.settings-header ._text {
  float: left;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  font-size: 1.875em;
  line-height: 1;
  color: rgb(50, 55, 60);
}

.switch ._image {
  z-index: 23;
}

.button-2 {
  float: left;
  width: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 3.125em;
  line-height: 1;
  overflow: hidden;
  -webkit-transition: ease .3s;
}

.button-3 {
  position: absolute;
  top: 0;
  right: 53px;
  z-index: 47;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-size: 1.875em;
}

.button-4 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 46;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-size: 1.875em;
  font-weight: 100;
}

.credit-1,
.credit-2 {
  display: block;
  color: rgb(0, 0, 0);
}

.credit-3 {
  color: rgb(0, 0, 0);
}

.divider-1 {
  background-image: -webkit-linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}

.divider-2 {
  background-image: -webkit-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}

.image-1 {
  z-index: 21;
}

.image-3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 15;
  width: 50px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.main-1 {
  left: 200%;
  z-index: 19;
  background-color: rgba(0, 0, 0, 0.23);
}

.main-2 {
  left: 100%;
  z-index: 16;
  background-color: rgba(0, 0, 0, 0.89);
}

.main-3 {
  left: 0;
  z-index: 9;
}

.main-element-1 {
  display: block;
  position: relative;
}

.main-element-2 {
  clear: both;
}

.main-element-3 {
  display: block;
  clear: both;
}

.text-4 {
  width: 100%;
}

.text-5 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 1.563em;
  text-align: center;
}

.text-6 {
  clear: both;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 1em;
}

.overlay-list ._text-10 {
  clear: both;
}

.settings-container ._button-2,
.settings-container ._button-3,
.settings-container ._button-4,
.settings-container ._button-5 {
  clear: both;
}

.credit span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: underline;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}